go 1.26.5

use (
	./gen/go
	./libs/go
	./services/verso-catalog-service
	./services/verso-identity-service
	./services/verso-library-service
	./services/verso-profile-service
	./services/verso-search-service
)
